<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>Aficiones</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	
	<!-- Bootstrap CSS -->
    	 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Style CSS -->
	<link href="css/style.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<div class="row mt-5">  	
  		<div class="col-8 color-perfil mx-auto border border-dark rounded container-perfil">  			
	        	

  		  
			<h1 class="titulo">VER AFICIÓN</h1>
			 <hr class="mb-4 separador-gris"> 
			 <div class="form-group row">
			    <label for="tema" class="col-sm-2 col-form-label">ID:</label>
			    <div class="col-sm-10">
			      <span   th:text=${transferAficiones.id} class="form-control"  ></span>
			    </div>
			</div>
			
			 <div class="form-group row">
			    <label for="tema" class="col-sm-2 col-form-label">Tema:</label>
			    <div class="col-sm-10">
			      <span   th:text=${transferAficiones.tema} class="form-control"  ></span>
			    </div>
			</div>
			
			<div class="form-group row">
			    <label for="apodo" class="col-sm-2 col-form-label">Apodo:</label>
			    <div class="col-sm-10">
			       <span   th:text=${transferAficiones.apodo} class="form-control"  ></span>
			    </div>
			</div>
			
			<div class="form-group row">
			    <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
			    <div class="col-sm-10">
			       <span   th:text=${transferAficiones.nombre} class="form-control"  ></span>
			    </div>
			</div>
			
			<div class="form-group row">
			    <label for="puntuacion" class="col-sm-2 col-form-label">Puntuacion:</label>
			    <div class="col-sm-10">
			     <span   th:text=${transferAficiones.puntuacion} class="form-control"  ></span>
			    </div>
			</div>	
				
			<div class="form-group row">
			    <label for="precio" class="col-sm-2 col-form-label">Precio:</label>
			    <div class="col-sm-10">
			      <span   th:text=${transferAficiones.precio} class="form-control"  ></span>
			    </div>
			</div>
				
				<div>
				
				<a th:href="'/index'">
				 <input type="button" class="btn btn-grey" value="Volver al menú principal"></input>							              
			 </a>
			</div>
			
		
			
		
	</div>	
  </div>	 
</body>
</html>